body{
    text-align: center;
    margin: 0px;
    background-color: bisque;
}
p{
    display:inline-block;
    font-size: 25px;
}

h2{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px;
    color: rgb(61, 37, 37);
}
.block {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 225, 255);
    border: 1px black solid;
    font-size: 27px;
    color: rgb(63, 57, 57);
}

.enemy > .block:hover {
    background-color: rgb(5, 137, 154);
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}

button{
    font-size: 25px;
    margin: 0px;
    margin-left: 10px;
    background-color: darkseagreen;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.board {
    margin:10px;
    margin-top: 20px;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.game > p {
    margin: 0px
}

.game {
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    justify-items: center;
}
